Data Source: https://designcensus.org/

In [1]:
import numpy as np
import pandas as pd
import math
from IPython.display import display

In [2]:
df = pd.read_csv('DesignCensus2017_Data.csv')

In [3]:
print('There a a total of ' + str(len(df.columns)) + ' columns.')

There a a total of 43 columns.

### Column dictionary

In [4]:
col_dict = {}
for col in df.columns:
    index, desc = col.split(' --')
    col_dict['V_' + str(index)] = desc

In [5]:
col_dict

{'V_1': " I've worked in design for:",
 'V_10': 'My immediate team is:',
 'V_11': 'My work touches these industries or sectors:',
 'V_12': 'I’ve been at my current place of work for:',
 'V_13': 'My role is:',
 'V_14': 'My role is:',
 'V_15': 'My role is:',
 'V_16': "I've been in my current role for:",
 'V_17': 'I typically work:',
 'V_18': 'My annual salary is:',
 'V_19': 'My job provides:',
 'V_2': 'I primarily work in:',
 'V_20': 'In my current role, there is:',
 'V_21': 'In my current role, I am:',
 'V_22': 'My job is:',
 'V_23': 'My job stability is:',
 'V_24': 'In addition to my job, I also:',
 'V_25': 'I fuel my daily creativity with coffee:',
 'V_26': "Highest level of education I've completed:",
 'V_27': 'I learned design:',
 'V_28': 'My major focus of study was:',
 'V_29': "Over my career, I've had:",
 'V_3': "I'm also good at:",
 'V_30': "I've shifted my specialty or focus area:",
 'V_31': 'I stay current with design by:',
 'V_32': "I'm a member of:",
 'V_33': "I'd like to get better at:",
 'V_34': 'I am:',
 'V_35': "Right now, I can't stop listening to:",
 'V_36': 'I live in:',
 'V_37': 'My age is:',
 'V_38': 'I am:',
 'V_39': 'I consider myself:',
 'V_4': 'I am currently:',
 'V_40': 'My ethnicity is:',
 'V_41': 'The most critical issues and challenges currently facing design are (answer optional):',
 'V_42': 'The emerging trends and technologies that will have the biggest impact on design are (answer optional):',
 'V_43': 'The most valuable design skills for the future will be (answer optional):',
 'V_5': 'My company specializes in:',
 'V_6': 'My company is:',
 'V_7': 'I teach:',
 'V_8': "I'm not working because:",
 'V_9': 'My organization has:'}

### Classify Columns

In [6]:
df.columns = map(lambda x : 'V_' + str(x+1), list(range(len(df.columns))))

In [7]:
continous_cols = ['V_18', 'V_37']

In [8]:
pipe_col = ['V_2', 'V_3','V_5','V_7','V_11','V_19',\
            'V_24', 'V_27', 'V_28', 'V_31', 'V_32',\
            'V_33', 'V_40', 'V_41', 'V_42', 'V_43']

In [9]:
cate_cols = list(df.columns)
for col in continous_cols:
    cate_cols.remove(col)

### Summary of Null Value

In [10]:
dff = pd.DataFrame(columns=['Column','Desc', 'Null'])
for col in df.columns:
    num_null = df[col].isnull().sum()
    dff = dff.append({'Column': col, 'Desc' : col_dict[col], 'Null' : num_null }, ignore_index=True)
dff

   Column                                               Desc   Null
0     V_1                         I've worked in design for:      0
1     V_2                               I primarily work in:      0
2     V_3                                  I'm also good at:      0
3     V_4                                    I am currently:      0
4     V_5                         My company specializes in:   7198
5     V_6                                     My company is:   7317
6     V_7                                           I teach:  12800
7     V_8                           I'm not working because:  12831
8     V_9                               My organization has:    409
9    V_10                              My immediate team is:    402
10   V_11       My work touches these industries or sectors:    401
11   V_12         I’ve been at my current place of work for:    401
12   V_13                                        My role is:   7090
13   V_14                                        My role is:   7217
14   V_15                                        My role is:  12769
15   V_16                  I've been in my current role for:    401
16   V_17                                  I typically work:    401
17   V_18                               My annual salary is:    397
18   V_19                                   My job provides:    400
19   V_20                      In my current role, there is:    399
20   V_21                          In my current role, I am:    399
21   V_22                                         My job is:    399
22   V_23                               My job stability is:    399
23   V_24                     In addition to my job, I also:    399
24   V_25            I fuel my daily creativity with coffee:      0
25   V_26         Highest level of education I've completed:      0
26   V_27                                  I learned design:      0
27   V_28                       My major focus of study was:      0
28   V_29                          Over my career, I've had:      0
29   V_30           I've shifted my specialty or focus area:      0
30   V_31                     I stay current with design by:      0
31   V_32                                   I'm a member of:      0
32   V_33                         I'd like to get better at:      0
33   V_34                                              I am:      0
34   V_35              Right now, I can't stop listening to:     78
35   V_36                                         I live in:   2382
36   V_37                                         My age is:      0
37   V_38                                              I am:      0
38   V_39                                 I consider myself:      0
39   V_40                                   My ethnicity is:      0
40   V_41  The most critical issues and challenges curren...    439
41   V_42  The emerging trends and technologies that will...    655
42   V_43  The most valuable design skills for the future...    429

### Deal with columns with pipe

In [19]:
df['V_36'] = df['V_36'].astype(np.object)
df = df.replace(np.nan,'', regex=True)
pipe_col_dict = {}

for col in pipe_col:
    options = set()
    for row in df[col]:
        arrs = row.split('|') 
        for arr in arrs:
            if arr != '':
                options.add(arr)
    
    pipe_col_dict[col] = {}
    
    index = 1
    for option in options:
        sub_col = col + '_' + str(index)
        df.loc[:,sub_col] = 0
        pipe_col_dict[col][option] = sub_col
        col_dict[sub_col] = col_dict[col] + '-' + option
        index += 1

In [14]:
for col in pipe_col:
    row_num = 0;
    for row in df[col]:
        arrs = row.split('|') 
        for arr in arrs:
            if arr != '':
                sub_col = pipe_col_dict[col][arr]
                df.loc[row_num, sub_col] += 1
        row_num += 1

In [15]:
df.to_csv('output.csv',index=False)

### Output csv with column names

In [36]:
#df_v2 = df.drop('Unnamed: 0', axis = 1).copy()
df_v2.columns = [col_dict[col] for col in df_v2.columns]
df_v2.to_csv('output_with_column_names.csv',index=False)
del df_v2

### Exclude null, outliers, etc

TBD

### End of preprocessing

In [37]:
df = pd.read_csv('output.csv')
num_records = len(df)

In [38]:
def summary_cate_col(col):
    if col in continous_cols:
        return
    
    elif col in pipe_col:
        dff = pd.DataFrame(columns=['Options','Count','Percent'])
        for key, value in pipe_col_dict[col].items():
            count = df[value].sum()
            dff = dff.append({'Options': key, 'Count' : count}, ignore_index=True)
    
    else:
        dff = pd.DataFrame(df[col].value_counts())
        dff.reset_index(inplace=True)
        dff.columns = ['Options','Count']
    
    dff['Percent'] = dff.Count / num_records
    dff = dff.sort_values(by = 'Percent', ascending = False).head(5)
    dff = dff.style.format({'Percent': '{:,.2%}'.format})
    return dff

### Basic Summary of each column (only show top 5)

In [39]:
for col in cate_cols:
    display(str(col) + ' : ' + col_dict[col])
    display(summary_cate_col(col))

"V_1 :  I've worked in design for:"

'V_2 : I primarily work in:'

"V_3 : I'm also good at:"

'V_4 : I am currently:'

'V_5 : My company specializes in:'

'V_6 : My company is:'

'V_7 : I teach:'

"V_8 : I'm not working because:"

'V_9 : My organization has:'

'V_10 : My immediate team is:'

'V_11 : My work touches these industries or sectors:'

'V_12 : I’ve been at my current place of work for:'

'V_13 : My role is:'

'V_14 : My role is:'

'V_15 : My role is:'

"V_16 : I've been in my current role for:"

'V_17 : I typically work:'

'V_19 : My job provides:'

'V_20 : In my current role, there is:'

'V_21 : In my current role, I am:'

'V_22 : My job is:'

'V_23 : My job stability is:'

'V_24 : In addition to my job, I also:'

'V_25 : I fuel my daily creativity with coffee:'

"V_26 : Highest level of education I've completed:"

'V_27 : I learned design:'

'V_28 : My major focus of study was:'

"V_29 : Over my career, I've had:"

"V_30 : I've shifted my specialty or focus area:"

'V_31 : I stay current with design by:'

"V_32 : I'm a member of:"

"V_33 : I'd like to get better at:"

'V_34 : I am:'

"V_35 : Right now, I can't stop listening to:"

'V_36 : I live in:'

'V_38 : I am:'

'V_39 : I consider myself:'

'V_40 : My ethnicity is:'

'V_41 : The most critical issues and challenges currently facing design are (answer optional):'

'V_42 : The emerging trends and technologies that will have the biggest impact on design are (answer optional):'

'V_43 : The most valuable design skills for the future will be (answer optional):'